<body>
    

<div><h2 class="infopagina">Catálogo de libros</h2></div>

<div class="container-fluid">
    <div class="row" >
      <div class="col-4 d-inline-block text-center">
      <img id="imgsearchbook" src="../assets/images/searchbookimg.png" >
        <div class="container"> 
          <form  #SearchForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label id="titleform" class="label display-1" for="formGroupExampleInput">Ingrese Titulo o Autor del libro:</label>
              <input  type="text" class="form-control" #busqueda="ngModel" [(ngModel)]="form.busqueda" name="busqueda"   placeholder="Titulo o Autor">        
              <div class="form-check-inline">
                <label class="form-check-label"> Buscar por :
                    <input type="radio" class="form-check-input" #titulo="ngModel" [(ngModel)]="form.titulo" name="optradio" value="titulo" 
                         checked>Titulo
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" #autor="ngModel"  [(ngModel)]="form.autor" name="optradio" value="autor" >Autor
                </label>
            </div>
             
              <input class="btn btn-primary btnsearch"  type="submit" value="Buscar">
            </div>
            
        </form>
        </div>
      </div>
      
      
     <!--  Listado de libros -->
      <div class="col-8" >          
       <div class="articles" id="articles" *ngFor="let item of libros">

        <article class="article-item" *ngIf="item.stock>0">
          <div class="image-space"> <img class="image-libro" src="{{item.imagen}}" alt=""></div>
          <h2>{{item.titulo}}</h2>
          <h4>{{item.autor}}</h4>
          <h5>{{item.editorial}}</h5>
  
    <input (click)="alquilar(item.isbn);" type="button" id="{{item.isbn}}" name="btnalquiler" class="btn btnalquiler" value="Alquilar">
    <br>
     <input (click)="reservar(item.isbn);" type="button" id="{{item.isbn}}"  class="btn btnreserva" name="btnreserva" value="Reservar">
    </article>
       </div>
      </div>
       
    </div>
  </div>
</body>